/*.pageSections{
    display:flex;
    margin:0;
    padding: 50px 0;
}
.container{
    padding: 50px 0;
    flex-wrap: wrap;
    flex-direction: row;
}
.cell{
    padding: 25px 0;
}

/* Navigation bar 
.navBar{
    display: flex;
    flex-wrap: nowrap;
}
.emptyNavSpace{
    display: flex;
    flex: 2 2 60%;
}
.navLinks{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    flex: 1 0 30%;
}
.navLinks a{
    padding: 15px;
    font-size: 2vh;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.pageLabel{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
    flex: 1 0 10%;
}
.pageLabel label{
    padding: 15px;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
}

/* Main Section */
#mainSection{
    background-color: coral;
    justify-content: center;
    padding: 20vh;
}
.mainTitle{
    font-size: 7vh;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 50px;
    border: 2px solid lightblue;
}
.mainSubtitle{
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* About Section */
#aboutSection{
    display: flex;
    background-color: lightblue;
}
#aboutTitle{
    text-align: end;
    padding: 0px 15px;
    font-size: 2vh;
    color: rgb(146, 45, 146);
    font-family: 'Poppins', sans-serif;
}
#aboutDesc{
    text-align: right;
    padding: 15px;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
}
#aboutText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
}
#aboutImage{
    display: flex;
    flex: 50%;
    justify-content: flex-start;
}
#aboutImage img{
    padding: 15px;
}
#aboutImage label{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
}

/* Project Section */
#projectSection{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
#projectSection .container{
    padding: 10px;
}
#projectTitle{
    padding: 5px;
}
#projectTitle h2{
    margin: 0;
    padding: 0 20px;
    font-size: 5vh;
    color: rgb(39, 111, 114);
    font-family: 'Poppins', sans-serif;
}
.specialCell{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.specialCell .cell{
    padding: 20px 30px;
}

/*Contact Form*/
#contactSection{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
#contactTitle{
    padding: 50px 0 0 0;
}
#contactTitle .cell{
    padding: 0;
}
#contactTitle h2{
    margin: 0;
    font-size: 5vh;
    color: lightcoral;
    font-family: 'Poppins', sans-serif;
}
#emailForm input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#nameEnter{
    width: 15vh;
}
#emailEnter{
    width: 25vh;
}
#emailForm input:focus{
    background-color: rgb(226, 226, 226);
}
#emailForm{
    display: flex;
    flex-direction: column;
}
#emailForm label{
    padding: 0 5px;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
}
#emailForm [type=submit]{
    width: 25vh;
    background-color: rgb(210, 255, 255);
    font-size: 135%;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 10px;
}
#emailForm [type=submit]:hover{
    background-color: rgb(210, 245, 245);
}

@media (max-width:800px){

}