/* Colours
    --background-colour: #1f1f28;
    --alt-background-colour: #16161d;
    --foreground-colour: #dcd7ba;
    --alt-foreground-colour: #c8c093;
*/

ul {
    list-style-type: none;
}
#mainSection{
    display: block;
    height: 100%;
    padding: 0;
}
.heroContainer{
    position: relative;
    height: 100%;
    width: 100%;
}
/*.mainContainer{*/
    /*position: relative;*/
    /*max-width: 910px;*/
    /*width: 100%;*/
    /*background-color: #1f1f28;*/
/*}*/
/*#heroTitle{*/
    /*position: absolute;*/
    /*font-size: 4rem;*/
    /*font-family: 'League Spartan', sans-serif;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 10px;*/
    /*left: 50%;*/
    /*color: #dcd7ba;*/
    /*padding: 10px 0;*/
    /*z-index: 2;*/
/*}*/
.mainHeader {
  display: block;
  position: absolute;
  width: 100%;
  height: 130px;
  text-align: center;
}
#heroTitle {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainTitle{
    /*position: relative;*/
    font-size: 45px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    display: inline-block;
    vertical-align: baseline;
    /*text-transform: uppercase;*/
    /*padding: 0 30vw;*/
    /*letter-spacing: 0.45em;*/
    /*color: #16161d;*/
    color: #c8c093;
    z-index: 2;
    margin: 0 0 20px 0;
}
#mainSubtitle {
  font-size: 30px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
    color: #dcd7ba;
  /*color: #1f1f28;*/
  z-index: 2;
  padding: 0 200px;
}
/*.mainContainer:before{*/
    /*content: "";*/
    /*display: block;*/
    /*justify-content: center;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1;*/
    /*opacity: 0.5;*/
    /*filter: blur(5px);*/
    /*background: url(/resources/background-image.jpg);*/
    /*background-size: 135%;*/
    /*background-repeat: no-repeat;*/
/*}*/
/*#mainCell{*/
    /*padding: 26% 0;*/
/*}*/
.heroContent {
    position: relative;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}

/* hero slideshow stuff */
.slick-list, .slick-track, .slick-slider, .slick-slide, .slick-slide > div, .hero-slide .hero-img {
  height: 100%;
}
.hero-slideshow {
    height: 100%;
}
.hero-slideshow .heroimg0 {
    background-image: url(/resources/hero/hero-1.png);
    background-position-y: top;
    background-position-x: center;
}
.hero-slideshow .heroimg1 {
    background-image: url(/resources/hero/hero-2.png);
    /*background-color: #FF9E3B;*/
    background-position-y: top;
    background-position-x: center;
}
.hero-slideshow .heroimg2 {
    background-image: url(/resources/hero/hero-3.png);
    background-position-y: top;
    background-position-x: center;
}
.hero-slideshow .heroimg3 {
    background-image: url(/resources/hero/hero-4.png);
    background-position-y: top;
    background-position-x: center;
}
.hero-slideshow .hero-img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-dots {
  position: absolute;
  top: 50%;
  left: 50px;
}
.slide-dots li button {
  font-size: 10px;
  color: #dcd7ba;
  width: 10px;
  height: 10px;
  background-color: #dcd7ba;
  border-radius: 50%;
}
.slide-dots li.slick-active button {
  color: #c8c093;
  background-color: #c8c093;
  width: 11px;
  height: 11px;
}

/* About Section */
#aboutSection{
    display: flex;
    justify-content: center;
    background-color: #1f1f28;
}
.pageContainer{
  width: 700px;
  display: flex;
  flex-wrap: nowrap;
}
#aboutText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
    margin: 0 10px 0 0;
    padding: 40px 0px;
}
#aboutTitle{
    text-align: end;
    padding: 0px;
    margin: 0 0 41px 0;
    font-size: 50px;
    color: #dcd7ba;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
}
#aboutName {
    text-align: right;
    font-size: 30px;
    margin: 0 0 41px 0;
    color: #dcd7ba;
    font-family: 'League Spartan', 'Noto Sans SC', sans-serif;
    font-weight: 100;
}
#aboutDesc{
    text-align: right;
    padding: 0px;
    font-size: 30px;
    line-height: 20px;
    color: #dcd7ba;
    font-family: 'League Spartan', sans-serif;
    animation-name: slidein;
    animation-duration: 1s;
    font-weight: 100;
}
@keyframes slidein{
    0% {opacity: 0; transform: translateX(-200px);}
    40% {opacity: 100;}
    100% {transform: translateX(0px);}
}
#aboutImage{
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 0px;
    margin: 0 0 0 10px;
}
#aboutImage img{
    /*padding: 15px;*/
}
#imageCred {
    text-align: right;
    color: #dcd7ba;
    font-family: 'League Spartan', 'Noto Sans SC', sans-serif;
    font-weight: 100;
}

/* Project Section */
#projectSection{
    background-color: #16161d;
    display: flex;
    flex-direction: column;
}
#projectSection .container{
    padding: 10px;
    background-color: transparent;
}
#projectTitle{
    padding: 5px;
}
#projectTitle h2{
    margin: 0;
    padding: 0 20px;
    font-size: 2rem;
    color: #a6002f;
    font-family: 'Poppins', sans-serif;
}
.specialCell{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.specialCell .cell{
    height: 60vh;
    width: 28vw;
    padding: 0;
    margin: 0;
}
#f1 {
    position: relative;
    z-index: 0;
    background-color: black;
}
#f1::before {
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    width: 28vw;
    height: 60vh;
    opacity: 1;
    background-image: url(/resources/coding.svg);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    transition: background-size 1.5s linear, background-position 1.5s linear, opacity 0.3s, filter 0.3s;
}
#f1::after {
    content: "I built this entire website from the ground up using only HTML, CSS, and Javascript. In this article I talk about my experiences learning how to do front end development for webpages and some of the challenges I've faced.";
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #590019;
    display: none;
    z-index: 2;
    position: absolute;
    width: 20vw;
    height: 40vh;
    padding: 10vh 4vw;
}
#f1:hover::after {
    display: block;
}
#f1:hover::before {
    filter: blur(5px);
    opacity: 0.4;
    background-size: 320%;
    background-position: 13% 93%;
}

#gallerySection {
  display: flex;
  justify-content: center;
  /*background-color: #dcd7ba;*/
  background-color: #16161d;
}
#galleryContainer {
  width: 1000px;
  flex-direction: column;
}
#galleryTitle {
  color: #dcd7ba;
  /*color: #1f1f28;*/
  font-family: 'League Spartan', 'Noto Sans SC', sans-serif;
  font-weight: 200;
  font-size: 40px;
  margin: 0 0 21px 0;
}
.galleryRow {
  flex-direction: row;
  margin: 7px 0;
}
.middleImg {
  margin: 0 7px;
}

/*Contact Form*/
#contactSection{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
#contactTitle{
    padding: 50px 0 0 0;
}
#contactTitle .cell{
    padding: 0;
}
#contactTitle h2{
    margin: 0;
    font-size: 5vh;
    color: lightcoral;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:1100px) {
  #galleryTitle {
    padding: 0 0 0 60px;
  }
    .galleryRow {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
    }
    .galleryRow img {
      margin: 3px;
    }
  }
@media (max-width:800px){
    .mainContainer:before{
        background-size: 70em;
    }
    #aboutImage{
        display: none;
    }
    #aboutText {
      padding: 0 50px 0 0;
    }
    #galleryTitle {
      padding: 0 0 0 30px;
    }
    .specialCell{
        flex-direction: column;
    }
}
@media (max-width:600px) {
  #mainSubtitle {
    display: none;
  }
}
